.violet {
  border-bottom: 8px solid #8A2BE2;
}
.indigo {
  border-bottom: 8px solid #4b0082;
}
.blue {
  border-bottom: 8px solid #0000FF;
}
.green {
  border-bottom: 8px solid #00FF00;
}
.yellow {
  border-bottom: 8px solid #FFFF00;
}
.orange {
  border-bottom: 8px solid #FFA500;
}
.red {
  border-bottom: 8px solid #FF0000;
}

/* Button styles copied from Foundation CSS */
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #2ba6cb;
    color: #fefefe;
}

.row-wrapper {
  border: 1px solid #ecd5d5;
  border-radius: 5px;
  background-color: #f5ecec;
}

.member-inner {
  border-right: 1px solid #c5b4b4;
}